# Ignore everything inside data/
era5_data/*
era5_data_csv/*
era5_data_csv_cleaned/*
era5_features/*

# But don’t ignore the folder itself
!era5_data/.gitkeep
!era5_data_csv/.gitkeep
!era5_data_csv_cleaned/.gitkeep
!era5_features/.gitkeep

__pycache__/
